.project_wrapper{
    padding-top: 50px;

    .project_title{
        color: $light_green;
        margin-bottom: 30px;
    }
    .project_photo1{
        width: 70vw;
        position: relative;
        left: 50%;
        transform: translate(-50%);

        img{
            width: 100%;
        }
    }
    .background_space{
        background-color: $white;
        width: 100%;
        height: calc(70vw/2);
        position: relative;
        top: -200px;
        z-index: -1;
    }
    .project_content{
        background-color: $white;
        width: 100%;
        position: relative;
        top: -200px;
        

    }
}